{% extends "menu.html" %}
{% block content %}
<br>
<h4>MINIMAP</h4>
<img src="/static/ROOM3B.png">
<br><br>

<main>
        <p> You manage to make your way through the maze mostly successfully, you must keep going if you are to escape.  </p>
	<br>
	<p>Will you keep making you way through the maze?</p>
                <div class="center_button">
                <a href="/choice3C" class="button main_button">Keep walking through the maze </a>
                <a href="/ending2C" class="button main_button">Turn towards the groaning for help</a>
                </div>

</main>
<footer>&copy 2021 Lee Shaw</footer>

{% endblock %}}


