{% extends "menu.html" %}
{% block content %}
<br>
<h4>MINIMAP</h4>
<img src="/static/ROOM3A.png">
<br><br>

<main>
        <p>You successfully made it past the werewolf like being only to notice more within in the next room. This time it might be harder to make your way out but you know forward is the only way out. Scattered across the room seems to be blood stained dinner plates, maybe this could be used as a distraction. </p>
	<br>
                <div class="center_button">
			<a href="/choice3B" class="button main_button">Throw the plates across<br>the room whilst hiding<br>in the darker patches of the room<br>like last time </a>
                <a href="/ending2B" class="button main_button">Sprint across the room</a>
                </div>

</main>
<footer>&copy 2021 Lee Shaw</footer>

{% endblock %}}


