{% extends "menu.html" %}
{% block content %}
<br>
<h4>MINIMAP</h4>
<img src="/static/ROOM2B.png">
<br><br>

<main>
        <p> Your choice has been made; you begin slowly pushing the door but are knocked back by a smell so strong you almost throw up. Behind you the front door slams shut, this leaves you little option but to make your way inside the room. The room appears to be what seems like a maze; however you hear groaning all around as if filled with people in pain. </p>
	<br>
                <div class="center_button">
                <a href="/ending1C" class="button main_button">Head towards the groaning </a>
		<a href="/choice2C" class="button main_button">Attempt to navigate through the<br> maze</a>    
                </div>

</main>
<footer>&copy 2021 Lee Shaw</footer>

{% endblock %}}

