{% extends "menu.html" %}
{% block content %}
<br>
<style>
h4{color:red;}
</style>

<h4>---MINIMAP UNAVAILABLE---</h4>
<br><br>

<main>
        <p>So you've given in.. </p>
	<br><br>
	<p>You begin to walk over to the tall man, what will your final actions be?</p>
	<br>
<style>
h4{color:red;}
</style>

                <div class="center_button">
                <a href="/ending3B" class="button main_button">Bend the Knee</a>
                <a href="/ending4B" class="button main_button">Ask to be Killed..</a>
                </div>

</main>
<footer>&copy 2021 Lee Shaw</footer>

{% endblock %}}


