{% extends "menu.html" %}
{% block content %}
<br>
<h4>MINIMAP</h4>
<img src="/static/ROOM1.png">
<br><br>

<main>
	<p>Following a car crash you find yourself stranded at the edge of a forest. You’ve checked your phone and its completely dead and you’re miles out from the nearest town, with nowhere else to go you begin walking along the road but stumble across a well-lit home. You knock and instantly the door opens, greeting you with a room containing 3 doors each marked with a sign. The first a red hat, the second with a yellow eye and the third with a green hand.  </p>
	<br>
	<p>Which do you enter??</p>
		<div class="center_button">	
		<a href="/choice1A" class="button main_button">Red Hat Door </a>
		<a href="/choice1B" class="button main_button">Yellow eyed Door</a>
		<a href="/choice1C" class="button main_button">Green Hand Door</a>
		</div>

</main>
<footer>&copy 2021 Lee Shaw</footer>

{% endblock %}}
