{% extends "menu.html" %}
{% block content %}
<br>
<h4>MINIMAP</h4>
<img src="/static/ROOM2.png">
<br><br>

<main>
        <p>Your choice has been made; you begin slowly pushing the door open but get sucked in. Pulled to the ground you hear chaotic laughter fill the room as well as a bright red light shine down from above. You get back onto your feet only to notice a clown standing in the corner of the room branding a curved knife.  </p>
	<br>
	<p>To leave this room you must answer the clowns riddle...</p>
	<br>
	<p>
I live for laughter,
I live for the crowd,
without it I am nothing.<br>
What am i...
	</p>

                <div class="center_button">
                <a href="/ending1A" class="button main_button">A Musician </a>
                <a href="/choice2A" class="button main_button">A Clown</a>
                </div>

</main>
<footer>&copy 2021 Lee Shaw</footer>

{% endblock %}}

