{% extends "menu.html" %}
{% block content %}
<br>
<h4>MINIMAP</h4>
<img src="/static/ROOM3.png">
<br><br>

<main>
        <p> You answered correctly… The clown begins to shake vigorously before getting on all fours and running into the next room. You try your luck with the door you came in from but its locked shut. You must move forward. Making your way into the next room you see the clown standing there staring at you from the middle of the room. </p>
	<br>
	<p>To escape your only option is to fight or flee...</p>

                <div class="center_button">
                <a href="/ending2A" class="button main_button">Turn and Flee </a>
                <a href="/choice3A" class="button main_button">Fight!</a>
                </div>

</main>
<footer>&copy 2021 Lee Shaw</footer>

{% endblock %}}


