{% extends "menu.html" %}
{% block content %}
<br>
<h4>MINIMAP</h4>
<img src="/static/ROOM4A.png">
<br><br>

<main>
        <p> The plates surprisingly worked as you make your way out through the door at the corner of the room, closing it behind you as quietly as you can, hearing growling coming from the room you were once in. Knowing you can’t go back at this point you make your way into the final room where standing in front you is a tall man in a black cloak. He begins to congratulate you for getting this far but tells you further resistance is futile. </p>
	<br>
	<p>You must become part of this house or die trying to escape
                <div class="center_button">
                <a href="/choice4A" class="button main_button">Fight! </a>
                <a href="/choice4B" class="button main_button">Give in...</a>
                </div>

</main>
<footer>&copy 2021 Lee Shaw</footer>

{% endblock %}}


