{% extends "menu.html" %}
{% block content %}
<br>
<h4>MINIMAP</h4>
<img src="/static/ROOM2A.png">
<br><br>

<main>
        <p>Your choice has been made; you begin slowly pushing the door where a chilling air hits you. You proceed further to see a humanoid being covered in grey fur pacing back and forth throughout the centre of a poorly lit room. </p>
	<br>
	<p>He hasn't noticed you yet what will you do?
                <div class="center_button">
			<a href="/choice2B" class="button main_button">Walk carefully around <br>edge of room </a>
			<a href="/ending1B" class="button main_button">Try the door behind you<br>to escape</a>
                </div>

</main>
<footer>&copy 2021 Lee Shaw</footer>

{% endblock %}}

