{% extends "menu.html" %}
{% block content %}
<br><br>

<main>
        <p>You lunge forward, plunging the stake into the chest of Dracula.. </p>
	<br>
	<p>He lets out a wail before turning to dust.. You've survived!</p>
	<br>
	<p>You notice a small door at the side of the room, opening it takes you outside, you run for your life...</p>
        <div class="center_button">
                <a href="/home" class="button main_button">Return Home </a>
        </div>
</main>
<footer>&copy 2021 Lee Shaw</footer>

{% endblock %}}

