{% extends "menu.html" %}
{% block content %} 
<main>
<h1> HOME PAGE </h1>
<br><br><br>
<p> Welcome to my 3rd year Advanced Web Tech project! For my project I decided to create a horror house style web game. The aim is to successfully make your way throughout the house without making wrong decisions which ultimately will lead to your demise.<br> Good luck! </p>
<br><br><br><br>

<div class="center_button">
<a href="/o1" class="button main_button">Enter</a>
</div>
</main>

<footer>&copy 2021 Lee Shaw</footer>
{% endblock %}
